BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "RCK" SITE "D5" ;
LOCATE COMP "SDO" SITE "D2" ;
LOCATE COMP "SCK" SITE "A2" ;
LOCATE COMP "SDI" SITE "B3" ;
SYSCONFIG MUX_CONFIGURATION_PORTS=ENABLE JTAG_PORT=DISABLE ;
LOCATE COMP "XEN" SITE "D4" ;
LOCATE COMP "xdac[0]" SITE "E5" ;
LOCATE COMP "xdac[1]" SITE "E4" ;
LOCATE COMP "xdac[2]" SITE "E3" ;
LOCATE COMP "xdac[3]" SITE "E2" ;
LOCATE COMP "xdac[4]" SITE "E1" ;
LOCATE COMP "TP1" SITE "A5" ;
LOCATE COMP "TP2" SITE "C5" ;
LOCATE COMP "INTA" SITE "A1" ;
LOCATE COMP "INTG" SITE "C1" ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "SDI" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "XEN" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[0]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[1]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[2]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[3]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "xdac[4]" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "RCK" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "INTA" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "INTG" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "SDO" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
LOCATE COMP "NCSA" SITE "B1" ;
LOCATE COMP "NCSG" SITE "A3" ;
IOBUF PORT "NCSA" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "NCSG" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
USE DOUT TRUE CELL "xdac_1_0io[1]" ;
FREQUENCY NET "FCK" 10.000000 MHz ;
FREQUENCY NET "RCK_c" 0.032000 MHz ;
BLOCK RD_DURING_WR_PATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
BLOCK JITTER ;
IOBUF PORT "TP3" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
LOCATE COMP "TP3" SITE "B4" ;
IOBUF PORT "TP4" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
LOCATE COMP "TP4" SITE "A4" ;
FREQUENCY NET "CK" 5.000000 MHz ;
FREQUENCY NET "Fast_CK/RIN" 100.000000 MHz ;
PRIORITIZE NET "Fast_CK/ANB1" 100 ;
PRIORITIZE NET "Fast_CK/ANB2" 100 ;
PRIORITIZE NET "Fast_CK/ANB3" 100 ;
PRIORITIZE NET "Fast_CK/CO0" 100 ;
PRIORITIZE NET "Fast_CK/CO1" 100 ;
PRIORITIZE NET "Fast_CK/GND" 100 ;
PRIORITIZE NET "Fast_CK/R1" 100 ;
PRIORITIZE NET "Fast_CK/R2" 100 ;
PRIORITIZE NET "Fast_CK/R3" 100 ;
PRIORITIZE NET "Fast_CK/R4" 100 ;
PRIORITIZE NET "Fast_CK/VCC" 100 ;
PRIORITIZE NET "Fast_CK/next_count_3[0]" 100 ;
PRIORITIZE NET "Fast_CK/next_count_3[1]" 100 ;
PRIORITIZE NET "Fast_CK/next_count_3[2]" 100 ;
PRIORITIZE NET "Fast_CK/next_count_3[3]" 100 ;
PRIORITIZE NET "Fast_CK/un1_calib_cry_0" 100 ;
PRIORITIZE NET "Fast_CK/un1_calib_cry_0_0_S0" 100 ;
PRIORITIZE NET "Fast_CK/un1_calib_cry_0_0_S1" 100 ;
PRIORITIZE NET "Fast_CK/un1_calib_cry_1_0_S0" 100 ;
PRIORITIZE NET "Fast_CK/un1_calib_cry_1_0_S1" 100 ;
PRIORITIZE NET "Fast_CK/un1_calib_cry_2" 100 ;
PRIORITIZE NET "Fast_CK/un1_calib_cry_3_0_COUT" 100 ;
PRIORITIZE NET "Fast_CK/un1_calib_cry_3_0_S0" 100 ;
PRIORITIZE NET "Fast_CK/un1_calib_i" 100 ;
PRIORITIZE NET "Fast_CK/un1_count" 100 ;
