[[Info]]
_PARENT: none
_FILE_FORMAT: 1.00
_DATA_VALUES: 1.00
_STATUS: Advanced
_FAMILY: xo2c00

[[Project]]
DesignName: main
Version: 8.0
Family: MachXO2
Device: LCMXO2-1200ZE
Package: QFN32
Operating: Commercial
Performance: -1
PartName: LCMXO2-1200ZE-1SG32C

[[Settings]]
EstimationMode: Medium
ProcessType: Typical
SoftwareMode: Estimation
SectionY: Total Power
SectionX: Vcc
SectionLowerLimit: 1.1400
SectionUpperLimit: 1.2600
SectionResolution: 0.0240
TempAmbY: Ambient Temperature
TempAmbX: Ambient Temperature
TempAmbLowerLimit: -40.0000
TempAmbUpperLimit: 125.0000
TempAmbResolution: 33.0000
FreqY: Total Power
FreqX: TCK_1
FreqLowerLimit: 0.0000
FreqUpperLimit: 100.0000
FreqAmbResolution: 20.0000
PowerMode: Normal
DisableBandgap: true
DisablePor: true
DisableDll: false
DisableOsc: true
DisablePLL0: true
DisablePLL1: true
DisableInRd0: true
DisableInRd1: true
DisableInRd2: true
DisableInRd3: true
DisableInRd4: true
DisableInRd5: true
DisableInRd6: false
DisableInRd7: false
EnablePg0: false
EnablePg1: false
EnablePg2: false
EnablePg3: false
EnablePg4: false
EnablePg5: false
EnablePg6: false
EnablePg7: false
DisableLVDS: true
DisableLVDS1: false
DisableLVDS2: false
DisableLVDS3: false
DisableLVDS4: false
DisableLVDS5: false
DisableLVDS6: false
DisableLVDS7: false
DisableSlewrate0: true
DisableSlewrate1: true
DisableSlewrate2: true
DisableSlewrate3: true
DisableSlewrate4: true
DisableSlewrate5: true

[[Thermal]]
Airflow: 200 LFM
AmbientTemperature: 30
CustomThetaSA: -1
JunctionTemperature: 30.00
MaxSafeAmbient: 84.99
ThetaBA: 10.0
ThetaCS: 0
ThetaEffective: 19.61
ThetaJA: 20.59
ThetaJB: 12.88
ThetaJC: 0
ThetaSA: -1
UserThetaBA: No
UserThetaCS: No
UserThetaEffective: No
UserThetaJA: No
UserThetaJB: No
UserThetaJC: No
UserThetaSA: No
thetaBoard: Medium Board
thetaHeatSink: No Heat Sink
thetaOption: ThermalModels

[[VDPM]]
Supply = Voltage, DPM
Vcc = 1.200, 1.00
Vccio 3.3 = 3.300, 1.00
Vccio 2.5 = 2.500, 1.00
Vccio 1.8 = 1.800, 1.00
Vccio 1.5 = 1.500, 1.00
Vccio 1.2 = 1.200, 1.00

[[Logic]]
Clk = F, AF, LUT, RAM, RIPPLE, REG, X0, X1, X2, X6, ISB, ISBLUT, ISBCE, ISBLSR, ISBM, ISBCLK
COMBINATORIAL = 0.0000^d^, 10.0000^d^, 659, 0, 13, 0, 3.4696e+002, 2.3064e+002, 7.3029e+002, 1.8206e+002, 180, 2.6360e+003, 0, 0, 0, 0
Power_Controller/GND = 0.0000^d^, 10.0000^d^, 0, 0, 0, 0, 0.0000e+000, 0.0000e+000, 0.0000e+000, 0.0000e+000, 0, 0.0000e+000, 0, 0, 0, 0
Fast_CK/RIN = 0.0000^d^, 10.0000^d^, 6, 0, 1, 5, 6.5846e+000, 4.3772e+000, 1.3860e+001, 3.4551e+000, 0, 2.6500e+001, 0, 0, 0, 0
TCK_1 = 5.0000, 10.0000^d^, 14, 0, 5, 20, 2.2286e+001, 1.4815e+001, 4.6909e+001, 1.1694e+001, 31, 6.6000e+001, 0, 0, 0, 0
CPU/un1_alu_cin_0_sqmuxa_iv = 0.0000^d^, 10.0000^d^, 2, 0, 0, 1, 1.5195e+000, 1.0101e+000, 3.1984e+000, 7.9733e-001, 14, 8.5000e+000, 0, 0, 0, 0
FCK = 10.0000, 10.0000^d^, 2, 0, 0, 1, 1.5195e+000, 1.0101e+000, 3.1984e+000, 7.9733e-001, 7, 8.5000e+000, 0, 0, 0, 0
CK = 0.0320, 10.0000^d^, 219, 0, 30, 240, 2.6288e+002, 1.7475e+002, 5.5331e+002, 1.3794e+002, 3367, 9.9600e+002, 0, 0, 0, 0
RCK_c = 0.0320, 10.0000^d^, 6, 0, 5, 14, 1.5195e+001, 1.0101e+001, 3.1984e+001, 7.9733e+000, 297, 3.1000e+001, 0, 0, 0, 0

[[Clocks]]
Clk = F, Duty, Pfeed, Ptrunk, Pspine, Ptap, Pbranch, Strunk, Sspine, Stap, Sbranch, Etb, Ebg, Elr
TCK_1 = 5.0000, 2.0000, f_0.0, t0_1.0, s_0.0, p_0.0, c1_0.0, t0_1.0, c1_0.0, r1_0.0, b_0.0, t_0.0, 0, l_0.0
FCK = 10.0000, 2.0000, f_0.0, t0_1.0, s_0.0, p_0.0, c1_0.0, t0_1.0, c1_0.0, r1_0.0, b_0.0, t_0.0, 0, l_0.0
CK = 0.0320, 100, f_0.0, t0_1.0, s_0.0, p_0.0, c1_0.0, t0_1.0, c1_0.0, r1_0.0, b_0.0, t_0.0, 0, l_0.0
RCK_c = 0.0320, 100, f_0.0, t0_1.0, s_0.0, p_0.0, c1_0.0, t0_1.0, c1_0.0, r1_0.0, b_0.0, t_0.0, 0, l_0.0

[[Input Output]]
Clk = _Type, _Mode, F, AF, IP, OP, PG, Cload, Bank, _ActualMode, _Pull, X0, X1, X2, X6, ISB
COMBINATORIAL = LVCMOS18, none, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 3, none, DOWN, 2.0260e+000, 1.3468e+000, 4.2645e+000, 1.0631e+000, 0.0000e+000
TCK_1 = LVCMOS18-8mA-SLEW:SLOW, none, 5.0000, 10.0000^d^, 0, 1, N/A, 5, 2, none, NONE, 2.0260e+000, 1.3468e+000, 4.2645e+000, 1.0631e+000, 0.0000e+000
FCK = LVCMOS18-8mA-SLEW:SLOW, sdr, 10.0000, 10.0000^d^, 0, 2, N/A, 5, 0, IREG_OREG, NONE, 4.0521e+000, 2.6936e+000, 8.5289e+000, 2.1262e+000, 0.0000e+000
FCK = LVCMOS18-8mA-SLEW:SLOW, sdr, 10.0000, 10.0000^d^, 0, 2, N/A, 5, 2, IREG_OREG, NONE, 4.0521e+000, 2.6936e+000, 8.5289e+000, 2.1262e+000, 0.0000e+000
FCK = LVCMOS18-8mA-SLEW:SLOW, sdr, 10.0000, 10.0000^d^, 0, 2, N/A, 5, 1, IREG_OREG, NONE, 4.0521e+000, 2.6936e+000, 8.5289e+000, 2.1262e+000, 0.0000e+000
CK = LVCMOS18-8mA-SLEW:SLOW, none, 0.0320, 10.0000^d^, 0, 3, N/A, 5, 0, none, NONE, 6.0781e+000, 4.0405e+000, 1.2793e+001, 3.1893e+000, 0.0000e+000
CK = LVCMOS18-8mA-SLEW:SLOW, none, 0.0320, 10.0000^d^, 0, 3, N/A, 5, 2, none, NONE, 6.0781e+000, 4.0405e+000, 1.2793e+001, 3.1893e+000, 0.0000e+000
RCK_c = LVCMOS18, none, 0.0320, 10.0000^d^, 1, 0, OFF, 5, 2, none, NONE, 2.0260e+000, 1.3468e+000, 4.2645e+000, 1.0631e+000, 0.0000e+000

[[Bidi]]
ClkInpName = _Type, _Mode, InpF, InpAF, Bidi, PG, ClkOutName, OutF, OutAF, Duty, Cload, Bank, _ActualMode, _Pull, X0, X1, X2, X6, ISB
CK = LVCMOS18-8mA-SLEW:SLOW, sdr, 0.0320, 10.0000^d^, 1, OFF, N/A, 0.0000^d^, 10.0000^d^, 50, 5, 0, IREG_OREG, UP, 2.0260e+000, 1.3468e+000, 4.2645e+000, 1.0631e+000, 0.0000e+000

[[Bank Voltage]]
Bank = Voltage, InRD, LVDSO, PG
0 = Vccio 1.8, No, No, OFF
1 = Vccio 1.8, No, N/A, OFF
2 = Vccio 1.8, No, N/A, OFF
3 = Vccio 1.8, No, N/A, OFF

[[Termination]]
_Type = IP, OP, Bidi, Duty, Bank, Rth, Vth
LVCMOS18 = 1, 0, 0, 0.000000, 3, 1.0E12, 0
LVCMOS18-8mA-SLEW:SLOW = 0, 6, 0, 0.000000, 2, 1.0E12, 0
LVCMOS18-8mA-SLEW:SLOW = 0, 5, 1, 25.000000, 0, 1.0E12, 0
LVCMOS18-8mA-SLEW:SLOW = 0, 2, 0, 0.000000, 1, 1.0E12, 0
LVCMOS18 = 1, 0, 0, 0.000000, 2, 1.0E12, 0

[[I2C1]]
Clk = F, AF, I2C1

[[I2C2]]
Clk = F, AF, I2C2

[[SPI]]
Clk = F, AF, SPI

[[TC]]
Clk = F, AF, TC, WBUSED

[[UFM]]
Clk = F, AF, UFM

[[WISHBONE]]
Clk = F, AF, WISHBONE

[[CLKDIV]]
Clk = F, AF, CLKDIV

[[CIBTEST]]
CIBTEST = 
0 = 

[[MCLK]]
STANDBY = Clk, F, AF, MCLK, MCLKF, SEDF
No = _CLKNAME, 266.0000, 100.0000, 1, 2.0800, 2.0800

[[POR]]
STANDBY = 
Yes = 

[[BANDGAP]]
STANDBY = 
Yes = 

[[JTAG]]
Clk = F, AF, Input, Output
COMBINATORIAL = 25.0000, 100.0000, 3, 1

[[SED]]
_Mode = SED, STATUS
SEDFA = 0, Disabled

[[SP RAM]]
Clk = EBR, F, AF, _Type, X0, X1, X2, X6, ISB

[[DP RAM]]
RdClk = RdF, RdAF, EBR, WrClk, WrF, WrAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB

[[DP RAM True]]
ClkA = aF, aAF, EBR, ClkB, bF, bAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB
CK = 0.0320, 10.0000^d^, 5, NoNe, 0.0000^d^, 10.0000^d^, DP8KC_NORM_PORTA, DP8KC_NORM_PORTB, 4.0521e+001, 2.6936e+001, 8.5289e+001, 2.1262e+001, 0.0000e+000

[[FIFO DC]]
RdClk = RdF, RdAF, EBR, WrClk, WrF, WrAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB

[[PLL]]
OutClk = inF, N, V, M, PLL, STANDBY

[[DQSDLL]]
Clk = F, DQSDLL

[[DQS]]
Clk = F, DQS

[[DLLDEL]]
Clk = F, DLLDEL

[[PLL Clock]]
Out = In

[[Connections]]
Clock = Comp, Type
COMBINATORIAL = CPU/SLICE_1, 0
Power_Controller/GND = Power_Controller/PCNTR_Inst0, 0
Fast_CK/RIN = Fast_CK/SLICE_39, 0
TCK_1 = SLICE_0, 0
TCK_1 = XEN, 1
CPU/un1_alu_cin_0_sqmuxa_iv = CPU/SLICE_359, 0
FCK = SLICE_129, 0
FCK = xdac[4], 1
FCK = xdac[3], 1
FCK = xdac[2], 1
FCK = xdac[1], 1
FCK = xdac[0], 1
FCK = TP1, 1
CK = CPU/SLICE_12, 0
CK = SDA, 1
CK = SA0, 1
CK = TP4, 1
CK = PWM, 1
CK = SCL, 1
CK = TP2, 1
CK = TP3, 1
RCK_c = RCK, 1

[[Hierarchical Connections]]
Key = Name, Type
SIGNAL = COMBINATORIAL, DUMMY
INPUT = CPU/SLICE_1, SLICE
INPUT = CPU/SLICE_2, SLICE
INPUT = CPU/SLICE_3, SLICE
INPUT = CPU/SLICE_4, SLICE
INPUT = CPU/SLICE_5, SLICE
INPUT = CPU/SLICE_6, SLICE
INPUT = CPU/SLICE_7, SLICE
INPUT = CPU/SLICE_8, SLICE
INPUT = CPU/SLICE_9, SLICE
INPUT = CPU/SLICE_10, SLICE
INPUT = CPU/SLICE_11, SLICE
INPUT = CPU/SLICE_25, SLICE
INPUT = Fast_CK/SLICE_40, SLICE
INPUT = CPU/un1_reg_IX_8[1]/SLICE_190, SLICE
INPUT = CPU/alu_ctrl[0]/SLICE_191, SLICE
INPUT = CPU/un1_alu_cin_0_sqmuxa_iv_0_tz/SLICE_192, SLICE
INPUT = CPU/result_1[0]/SLICE_193, SLICE
INPUT = CPU/result_1[7]/SLICE_194, SLICE
INPUT = CPU/result_1[1]/SLICE_195, SLICE
INPUT = CPU/result_1[2]/SLICE_196, SLICE
INPUT = CPU/result_1[3]/SLICE_197, SLICE
INPUT = CPU/result_1[4]/SLICE_198, SLICE
INPUT = CPU/result_1[5]/SLICE_199, SLICE
INPUT = CPU/result_1[6]/SLICE_200, SLICE
INPUT = CPU/result_1_8[8]/SLICE_201, SLICE
INPUT = CPU/result_1_7[0]/SLICE_202, SLICE
INPUT = CPU/result_1_5[7]/SLICE_203, SLICE
INPUT = CPU/un1_next_l_1_sqmuxa_1_u[0]/SLICE_204, SLICE
INPUT = CPU/un1_reg_IX_6[2]/SLICE_205, SLICE
INPUT = CPU/un1_reg_IX_6[0]/SLICE_206, SLICE
INPUT = CPU/un1_reg_IX_6[5]/SLICE_207, SLICE
INPUT = CPU/un1_reg_IX_6[7]/SLICE_208, SLICE
INPUT = CPU/un1_reg_IX_6[6]/SLICE_209, SLICE
INPUT = CPU/un1_reg_IX_6[4]/SLICE_210, SLICE
INPUT = CPU/un1_reg_IX_6[3]/SLICE_211, SLICE
INPUT = CPU/un1_reg_IX_6[1]/SLICE_212, SLICE
INPUT = CPU/un1_state_90[0]/SLICE_213, SLICE
INPUT = CPU/un1_next_h_1_sqmuxa_1_u[0]/SLICE_214, SLICE
INPUT = CPU/un1_next_b_1_sqmuxa_1[0]/SLICE_215, SLICE
INPUT = CPU/un1_next_c_1_sqmuxa_1[0]/SLICE_216, SLICE
INPUT = CPU/un1_next_d_1_sqmuxa_1[0]/SLICE_217, SLICE
INPUT = CPU/un1_next_a_0_sqmuxa_1_0[0]/SLICE_218, SLICE
INPUT = CPU/CPU.jump_4_u/SLICE_219, SLICE
INPUT = CPU/un1_reg_IX_8[2]/SLICE_220, SLICE
INPUT = CPU/un1_reg_IX_8[0]/SLICE_221, SLICE
INPUT = CPU/un1_reg_IX_8[5]/SLICE_222, SLICE
INPUT = CPU/un1_reg_IX_8[7]/SLICE_223, SLICE
INPUT = CPU/un1_reg_IX_8[6]/SLICE_224, SLICE
INPUT = CPU/un1_reg_IX_8[4]/SLICE_225, SLICE
INPUT = CPU/un1_reg_IX_8[3]/SLICE_226, SLICE
INPUT = CPU/SLICE_227, SLICE
INPUT = CPU/SLICE_228, SLICE
INPUT = CPU/SLICE_229, SLICE
INPUT = CPU/SLICE_230, SLICE
INPUT = CPU/SLICE_231, SLICE
INPUT = CPU/SLICE_232, SLICE
INPUT = CPU/SLICE_233, SLICE
INPUT = CPU/SLICE_234, SLICE
INPUT = CPU/SLICE_235, SLICE
INPUT = CPU/SLICE_236, SLICE
INPUT = CPU/SLICE_237, SLICE
INPUT = CPU/SLICE_238, SLICE
INPUT = CPU/SLICE_239, SLICE
INPUT = CPU/SLICE_240, SLICE
INPUT = CPU/SLICE_241, SLICE
INPUT = CPU/SLICE_242, SLICE
INPUT = CPU/SLICE_247, SLICE
INPUT = CPU/SLICE_248, SLICE
INPUT = CPU/SLICE_249, SLICE
INPUT = CPU/SLICE_250, SLICE
INPUT = CPU/SLICE_251, SLICE
INPUT = CPU/SLICE_252, SLICE
INPUT = CPU/SLICE_253, SLICE
INPUT = CPU/SLICE_254, SLICE
INPUT = CPU/SLICE_255, SLICE
INPUT = CPU/SLICE_256, SLICE
INPUT = CPU/SLICE_257, SLICE
INPUT = CPU/SLICE_258, SLICE
INPUT = CPU/SLICE_259, SLICE
INPUT = CPU/SLICE_261, SLICE
INPUT = CPU/SLICE_262, SLICE
INPUT = CPU/SLICE_263, SLICE
INPUT = CPU/SLICE_265, SLICE
INPUT = CPU/SLICE_267, SLICE
INPUT = CPU/SLICE_268, SLICE
INPUT = CPU/SLICE_269, SLICE
INPUT = CPU/SLICE_271, SLICE
INPUT = CPU/SLICE_272, SLICE
INPUT = CPU/SLICE_274, SLICE
INPUT = CPU/SLICE_275, SLICE
INPUT = CPU/SLICE_276, SLICE
INPUT = CPU/SLICE_277, SLICE
INPUT = CPU/SLICE_278, SLICE
INPUT = CPU/SLICE_279, SLICE
INPUT = CPU/SLICE_280, SLICE
INPUT = CPU/SLICE_283, SLICE
INPUT = CPU/SLICE_284, SLICE
INPUT = CPU/SLICE_285, SLICE
INPUT = CPU/SLICE_287, SLICE
INPUT = CPU/SLICE_288, SLICE
INPUT = CPU/SLICE_289, SLICE
INPUT = CPU/SLICE_290, SLICE
INPUT = CPU/SLICE_291, SLICE
INPUT = CPU/SLICE_293, SLICE
INPUT = CPU/SLICE_294, SLICE
INPUT = CPU/SLICE_295, SLICE
INPUT = CPU/SLICE_296, SLICE
INPUT = CPU/SLICE_297, SLICE
INPUT = CPU/SLICE_298, SLICE
INPUT = CPU/SLICE_299, SLICE
INPUT = CPU/SLICE_300, SLICE
INPUT = CPU/SLICE_301, SLICE
INPUT = CPU/SLICE_302, SLICE
INPUT = CPU/SLICE_303, SLICE
INPUT = CPU/SLICE_304, SLICE
INPUT = CPU/SLICE_305, SLICE
INPUT = CPU/SLICE_306, SLICE
INPUT = CPU/SLICE_307, SLICE
INPUT = CPU/SLICE_308, SLICE
INPUT = CPU/SLICE_309, SLICE
INPUT = CPU/SLICE_311, SLICE
INPUT = CPU/SLICE_312, SLICE
INPUT = CPU/SLICE_313, SLICE
INPUT = CPU/SLICE_314, SLICE
INPUT = CPU/SLICE_315, SLICE
INPUT = CPU/SLICE_316, SLICE
INPUT = CPU/SLICE_317, SLICE
INPUT = CPU/SLICE_318, SLICE
INPUT = CPU/SLICE_319, SLICE
INPUT = CPU/SLICE_320, SLICE
INPUT = CPU/SLICE_322, SLICE
INPUT = CPU/SLICE_326, SLICE
INPUT = CPU/SLICE_327, SLICE
INPUT = CPU/SLICE_328, SLICE
INPUT = CPU/SLICE_329, SLICE
INPUT = CPU/SLICE_330, SLICE
INPUT = CPU/SLICE_331, SLICE
INPUT = CPU/SLICE_332, SLICE
INPUT = CPU/SLICE_333, SLICE
INPUT = CPU/SLICE_337, SLICE
INPUT = CPU/SLICE_338, SLICE
INPUT = CPU/SLICE_339, SLICE
INPUT = CPU/SLICE_345, SLICE
INPUT = CPU/SLICE_346, SLICE
INPUT = CPU/SLICE_347, SLICE
INPUT = CPU/SLICE_348, SLICE
INPUT = CPU/SLICE_351, SLICE
INPUT = CPU/SLICE_353, SLICE
INPUT = CPU/SLICE_354, SLICE
INPUT = CPU/SLICE_360, SLICE
INPUT = CPU/SLICE_361, SLICE
INPUT = CPU/SLICE_362, SLICE
INPUT = CPU/SLICE_363, SLICE
INPUT = CPU/SLICE_364, SLICE
INPUT = CPU/SLICE_365, SLICE
INPUT = CPU/SLICE_366, SLICE
INPUT = CPU/SLICE_367, SLICE
INPUT = CPU/SLICE_368, SLICE
INPUT = CPU/SLICE_369, SLICE
INPUT = CPU/SLICE_370, SLICE
INPUT = CPU/SLICE_371, SLICE
INPUT = CPU/SLICE_372, SLICE
INPUT = CPU/SLICE_373, SLICE
INPUT = CPU/SLICE_374, SLICE
INPUT = CPU/SLICE_375, SLICE
INPUT = CPU/SLICE_376, SLICE
INPUT = CPU/SLICE_377, SLICE
INPUT = CPU/SLICE_378, SLICE
INPUT = CPU/SLICE_379, SLICE
INPUT = CPU/SLICE_380, SLICE
INPUT = CPU/SLICE_381, SLICE
INPUT = CPU/SLICE_382, SLICE
INPUT = CPU/SLICE_383, SLICE
INPUT = CPU/SLICE_384, SLICE
INPUT = CPU/SLICE_385, SLICE
INPUT = CPU/SLICE_388, SLICE
INPUT = CPU/SLICE_389, SLICE
INPUT = CPU/SLICE_391, SLICE
INPUT = CPU/SLICE_392, SLICE
INPUT = CPU/SLICE_393, SLICE
INPUT = CPU/SLICE_394, SLICE
INPUT = CPU/SLICE_395, SLICE
INPUT = CPU/SLICE_396, SLICE
INPUT = CPU/SLICE_397, SLICE
INPUT = CPU/SLICE_398, SLICE
INPUT = CPU/SLICE_399, SLICE
INPUT = CPU/SLICE_400, SLICE
INPUT = CPU/SLICE_401, SLICE
INPUT = CPU/SLICE_402, SLICE
INPUT = CPU/SLICE_403, SLICE
INPUT = CPU/SLICE_404, SLICE
INPUT = CPU/SLICE_405, SLICE
INPUT = CPU/SLICE_406, SLICE
INPUT = CPU/SLICE_407, SLICE
INPUT = CPU/SLICE_408, SLICE
INPUT = CPU/SLICE_409, SLICE
INPUT = CPU/SLICE_410, SLICE
INPUT = CPU/SLICE_411, SLICE
INPUT = CPU/SLICE_412, SLICE
INPUT = CPU/SLICE_413, SLICE
INPUT = CPU/SLICE_414, SLICE
INPUT = CPU/SLICE_415, SLICE
INPUT = CPU/SLICE_417, SLICE
INPUT = CPU/SLICE_418, SLICE
INPUT = CPU/SLICE_419, SLICE
INPUT = CPU/SLICE_420, SLICE
INPUT = CPU/SLICE_421, SLICE
INPUT = CPU/SLICE_422, SLICE
INPUT = CPU/SLICE_423, SLICE
INPUT = CPU/SLICE_424, SLICE
INPUT = CPU/SLICE_425, SLICE
INPUT = CPU/SLICE_426, SLICE
INPUT = CPU/SLICE_427, SLICE
INPUT = CPU/SLICE_428, SLICE
INPUT = CPU/SLICE_429, SLICE
INPUT = CPU/SLICE_430, SLICE
INPUT = CPU/SLICE_431, SLICE
INPUT = CPU/SLICE_432, SLICE
INPUT = CPU/SLICE_433, SLICE
INPUT = CPU/SLICE_434, SLICE
INPUT = CPU/SLICE_435, SLICE
INPUT = CPU/SLICE_436, SLICE
INPUT = CPU/SLICE_438, SLICE
INPUT = CPU/SLICE_439, SLICE
INPUT = CPU/SLICE_440, SLICE
INPUT = CPU/SLICE_441, SLICE
INPUT = CPU/SLICE_442, SLICE
INPUT = CPU/SLICE_443, SLICE
INPUT = CPU/SLICE_444, SLICE
INPUT = CPU/SLICE_445, SLICE
INPUT = CPU/SLICE_446, SLICE
INPUT = CPU/SLICE_447, SLICE
INPUT = CPU/SLICE_448, SLICE
INPUT = CPU/SLICE_449, SLICE
INPUT = CPU/SLICE_450, SLICE
INPUT = CPU/SLICE_451, SLICE
INPUT = CPU/SLICE_452, SLICE
INPUT = CPU/SLICE_453, SLICE
INPUT = CPU/SLICE_454, SLICE
INPUT = CPU/SLICE_455, SLICE
INPUT = CPU/SLICE_456, SLICE
INPUT = CPU/SLICE_457, SLICE
INPUT = CPU/SLICE_458, SLICE
INPUT = SLICE_459, SLICE
INPUT = Fast_CK/SLICE_460, SLICE
INPUT = Fast_CK/SLICE_461, SLICE
INPUT = SLICE_462, SLICE
INPUT = CPU/SLICE_465, SLICE
INPUT = CPU/SLICE_466, SLICE
INPUT = CPU/SLICE_467, SLICE
INPUT = CPU/SLICE_468, SLICE
INPUT = CPU/SLICE_469, SLICE
INPUT = CPU/SLICE_470, SLICE
INPUT = CPU/SLICE_471, SLICE
INPUT = CPU/SLICE_472, SLICE
INPUT = CPU/SLICE_473, SLICE
INPUT = CPU/SLICE_474, SLICE
INPUT = CPU/SLICE_475, SLICE
INPUT = CPU/SLICE_476, SLICE
INPUT = CPU/SLICE_477, SLICE
INPUT = CPU/SLICE_478, SLICE
INPUT = CPU/SLICE_479, SLICE
INPUT = CPU/SLICE_480, SLICE
INPUT = SLICE_481, SLICE
INPUT = CPU/SLICE_482, SLICE
INPUT = CPU/SLICE_483, SLICE
INPUT = CPU/SLICE_484, SLICE
INPUT = CPU/SLICE_485, SLICE
INPUT = CPU/SLICE_486, SLICE
INPUT = CPU/SLICE_487, SLICE
INPUT = CPU/SLICE_488, SLICE
INPUT = CPU/SLICE_489, SLICE
INPUT = CPU/SLICE_490, SLICE
INPUT = CPU/SLICE_491, SLICE
INPUT = CPU/SLICE_492, SLICE
INPUT = CPU/SLICE_493, SLICE
INPUT = CPU/SLICE_494, SLICE
INPUT = CPU/SLICE_497, SLICE
INPUT = CPU/SLICE_498, SLICE
INPUT = CPU/SLICE_499, SLICE
INPUT = CPU/SLICE_500, SLICE
INPUT = CPU/SLICE_501, SLICE
INPUT = CPU/SLICE_502, SLICE
INPUT = CPU/SLICE_503, SLICE
INPUT = CPU/SLICE_504, SLICE
INPUT = CPU/SLICE_505, SLICE
INPUT = CPU/SLICE_506, SLICE
INPUT = CPU/SLICE_507, SLICE
INPUT = CPU/SLICE_508, SLICE
INPUT = CPU/SLICE_509, SLICE
INPUT = CPU/SLICE_510, SLICE
INPUT = CPU/SLICE_511, SLICE
INPUT = CPU/SLICE_512, SLICE
INPUT = SLICE_513, SLICE
INPUT = CPU/SLICE_514, SLICE
INPUT = CPU/SLICE_515, SLICE
INPUT = CPU/SLICE_516, SLICE
INPUT = CPU/SLICE_517, SLICE
INPUT = CPU/SLICE_518, SLICE
INPUT = CPU/SLICE_519, SLICE
INPUT = CPU/SLICE_520, SLICE
INPUT = CPU/SLICE_522, SLICE
INPUT = CPU/SLICE_523, SLICE
INPUT = CPU/SLICE_524, SLICE
INPUT = CPU/SLICE_525, SLICE
INPUT = CPU/SLICE_526, SLICE
INPUT = CPU/SLICE_527, SLICE
INPUT = CPU/SLICE_528, SLICE
INPUT = CPU/SLICE_529, SLICE
INPUT = CPU/SLICE_530, SLICE
INPUT = CPU/SLICE_531, SLICE
INPUT = CPU/SLICE_532, SLICE
INPUT = CPU/SLICE_533, SLICE
INPUT = CPU/SLICE_534, SLICE
INPUT = CPU/SLICE_535, SLICE
INPUT = CPU/SLICE_536, SLICE
INPUT = CPU/SLICE_537, SLICE
INPUT = CPU/SLICE_538, SLICE
INPUT = CPU/SLICE_539, SLICE
INPUT = CPU/SLICE_540, SLICE
INPUT = CPU/SLICE_541, SLICE
INPUT = CPU/SLICE_542, SLICE
INPUT = CPU/SLICE_543, SLICE
INPUT = CPU/SLICE_544, SLICE
INPUT = CPU/SLICE_545, SLICE
INPUT = CPU/SLICE_546, SLICE
INPUT = CPU/SLICE_547, SLICE
INPUT = CPU/SLICE_548, SLICE
INPUT = CPU/SLICE_549, SLICE
INPUT = CPU/SLICE_550, SLICE
INPUT = CPU/SLICE_551, SLICE
INPUT = CPU/SLICE_552, SLICE
INPUT = CPU/SLICE_553, SLICE
INPUT = CPU/SLICE_554, SLICE
INPUT = CPU/SLICE_555, SLICE
INPUT = SLICE_556, SLICE
INPUT = CPU/SLICE_557, SLICE
INPUT = CPU/SLICE_558, SLICE
INPUT = CPU/SLICE_559, SLICE
INPUT = CPU/SLICE_560, SLICE
INPUT = CPU/SLICE_561, SLICE
INPUT = CPU/SLICE_564, SLICE
INPUT = CPU/SLICE_565, SLICE
INPUT = CPU/SLICE_566, SLICE
INPUT = IDY, PIO
INPUT = GSR_INST, GSR
SIGNAL = Power_Controller/GND, DUMMY
SIGNAL = Fast_CK/RIN, DUMMY
OUTPUT = Fast_CK/SLICE_39, SLICE
OUTPORT = Fast_CK/un1_calib_i, F1
OUTPORT = FCK, Q1
OUTPUT = Fast_CK/SLICE_120, SLICE
OUTPORT = Fast_CK/next_count_3[1], F0
OUTPORT = Fast_CK/ANB1, Q0
OUTPORT = Fast_CK/next_count_3[2], F1
OUTPORT = Fast_CK/ANB2, Q1
OUTPUT = Fast_CK/SLICE_121, SLICE
OUTPORT = Fast_CK/next_count_3[3], F0
OUTPORT = Fast_CK/ANB3, Q0
OUTPORT = Fast_CK/CO1, F1
OUTPUT = Fast_CK/SLICE_122, SLICE
OUTPORT = Fast_CK/next_count_3[0], F0
OUTPORT = Fast_CK/CO0, Q0
OUTPORT = Fast_CK/un1_count, F1
SIGNAL = TCK_1, DUMMY
OUTPUT = SLICE_0, SLICE
OUTPORT = tck_frequency_s[0], F1
OUTPORT = tck_frequency[0], Q1
OUTPORT = tck_frequency_cry[0], FCO
OUTPUT = SLICE_50, SLICE
OUTPORT = tck_frequency_s[7], F0
OUTPORT = tck_frequency[7], Q0
OUTPUT = SLICE_51, SLICE
OUTPORT = tck_frequency_s[5], F0
OUTPORT = tck_frequency[5], Q0
OUTPORT = tck_frequency_s[6], F1
OUTPORT = tck_frequency[6], Q1
OUTPORT = tck_frequency_cry[6], FCO
OUTPUT = SLICE_52, SLICE
OUTPORT = tck_frequency_s[3], F0
OUTPORT = tck_frequency[3], Q0
OUTPORT = tck_frequency_s[4], F1
OUTPORT = tck_frequency[4], Q1
OUTPORT = tck_frequency_cry[4], FCO
OUTPUT = SLICE_53, SLICE
OUTPORT = tck_frequency_s[1], F0
OUTPORT = tck_frequency[1], Q0
OUTPORT = tck_frequency_s[2], F1
OUTPORT = tck_frequency[2], Q1
OUTPORT = tck_frequency_cry[2], FCO
OUTPUT = SLICE_132, SLICE
OUTPORT = Sample_Transmitter.un1_next_state16_i, F0
OUTPORT = TXA_1, Q0
OUTPORT = CPU/next_state16, F1
OUTPUT = XEN, PIO
OUTPUT = SLICE_133, SLICE
OUTPORT = Sample_Transmitter.TXB_1, F0
OUTPORT = TXB, Q0
OUTPORT = CPU/TXB_1_0_9, F1
OUTPUT = SLICE_170, SLICE
OUTPORT = state_ns_i[1], F0
OUTPORT = state[0], Q0
OUTPORT = N_1061_0, F1
OUTPORT = state[1], Q1
OUTPUT = SLICE_171, SLICE
OUTPORT = state_1_ns_1_0_.i1_mux_i, F0
OUTPORT = state_1[0], Q0
OUTPORT = state_1_ns_1_0_.N_7_mux_i, F1
OUTPORT = state_1[1], Q1
OUTPUT = SLICE_172, SLICE
OUTPORT = next_state_7[0], F0
OUTPORT = state_2[0], Q0
OUTPORT = next_state_7[1], F1
OUTPORT = state_2[1], Q1
OUTPUT = SLICE_173, SLICE
OUTPORT = next_state_7[2], F0
OUTPORT = state_2[2], Q0
OUTPORT = state_2_RNO[3], F1
OUTPORT = state_2[3], Q1
OUTPUT = SLICE_174, SLICE
OUTPORT = un9_next_state_axbxc4, F0
OUTPORT = state_2[4], Q0
OUTPORT = next_state_7[5], F1
OUTPORT = state_2[5], Q1
SIGNAL = CPU/un1_alu_cin_0_sqmuxa_iv, DUMMY
OUTPUT = CPU/SLICE_359, SLICE
OUTPORT = CPU/un1_opcode_8_iv_i, F0
OUTPORT = CPU/alu_cin, Q0
OUTPORT = CPU/state_li_m[0], F1
SIGNAL = FCK, DUMMY
OUTPUT = SLICE_129, SLICE
OUTPORT = TCK_i, F0
OUTPORT = TCK_1, Q0
OUTPORT = CK, F1
OUTPUT = xdac[4], PIO
OUTPUT = xdac[3], PIO
OUTPUT = xdac[2], PIO
OUTPUT = xdac[1], PIO
OUTPUT = xdac[0], PIO
OUTPUT = TP1, PIO
SIGNAL = CK, DUMMY
OUTPUT = CPU/SLICE_12, SLICE
OUTPORT = CPU/prog_addr_s[11], F0
OUTPORT = prog_addr[11], Q0
OUTPUT = CPU/SLICE_13, SLICE
OUTPORT = CPU/prog_addr_s[9], F0
OUTPORT = prog_addr[9], Q0
OUTPORT = CPU/prog_addr_s[10], F1
OUTPORT = prog_addr[10], Q1
OUTPORT = CPU/prog_addr_cry[10], FCO
OUTPUT = CPU/SLICE_14, SLICE
OUTPORT = CPU/prog_addr_s[7], F0
OUTPORT = prog_addr[7], Q0
OUTPORT = CPU/prog_addr_s[8], F1
OUTPORT = prog_addr[8], Q1
OUTPORT = CPU/prog_addr_cry[8], FCO
OUTPUT = CPU/SLICE_15, SLICE
OUTPORT = CPU/prog_addr_s[5], F0
OUTPORT = prog_addr[5], Q0
OUTPORT = CPU/prog_addr_s[6], F1
OUTPORT = prog_addr[6], Q1
OUTPORT = CPU/prog_addr_cry[6], FCO
OUTPUT = CPU/SLICE_16, SLICE
OUTPORT = CPU/prog_addr_s[3], F0
OUTPORT = prog_addr[3], Q0
OUTPORT = CPU/prog_addr_s[4], F1
OUTPORT = prog_addr[4], Q1
OUTPORT = CPU/prog_addr_cry[4], FCO
OUTPUT = CPU/SLICE_17, SLICE
OUTPORT = CPU/prog_addr_s[1], F0
OUTPORT = prog_addr[1], Q0
OUTPORT = CPU/prog_addr_s[2], F1
OUTPORT = prog_addr[2], Q1
OUTPORT = CPU/prog_addr_cry[2], FCO
OUTPUT = CPU/SLICE_18, SLICE
OUTPORT = CPU/prog_addr_s[0], F1
OUTPORT = prog_addr[0], Q1
OUTPORT = CPU/prog_addr_cry[0], FCO
OUTPUT = CPU/SLICE_19, SLICE
OUTPORT = CPU/reg_IY_s[10], F0
OUTPORT = CPU/reg_IY[10], Q0
OUTPUT = CPU/SLICE_20, SLICE
OUTPORT = CPU/reg_IY_s[8], F0
OUTPORT = CPU/reg_IY[8], Q0
OUTPORT = CPU/reg_IY_s[9], F1
OUTPORT = CPU/reg_IY[9], Q1
OUTPORT = CPU/reg_IY_cry[9], FCO
OUTPUT = CPU/SLICE_21, SLICE
OUTPORT = CPU/reg_IY_s[6], F0
OUTPORT = CPU/reg_IY[6], Q0
OUTPORT = CPU/reg_IY_s[7], F1
OUTPORT = CPU/reg_IY[7], Q1
OUTPORT = CPU/reg_IY_cry[7], FCO
OUTPUT = CPU/SLICE_22, SLICE
OUTPORT = CPU/reg_IY_s[4], F0
OUTPORT = CPU/reg_IY[4], Q0
OUTPORT = CPU/reg_IY_s[5], F1
OUTPORT = CPU/reg_IY[5], Q1
OUTPORT = CPU/reg_IY_cry[5], FCO
OUTPUT = CPU/SLICE_23, SLICE
OUTPORT = CPU/reg_IY_s[2], F0
OUTPORT = CPU/reg_IY[2], Q0
OUTPORT = CPU/reg_IY_s[3], F1
OUTPORT = CPU/reg_IY[3], Q1
OUTPORT = CPU/reg_IY_cry[3], FCO
OUTPUT = CPU/SLICE_24, SLICE
OUTPORT = CPU/reg_IY_s[0], F0
OUTPORT = CPU/reg_IY[0], Q0
OUTPORT = CPU/reg_IY_s[1], F1
OUTPORT = CPU/reg_IY[1], Q1
OUTPORT = CPU/reg_IY_cry[1], FCO
OUTPUT = CPU/SLICE_26, SLICE
OUTPORT = CPU/reg_IX_s[10], F0
OUTPORT = CPU/reg_IX[10], Q0
OUTPUT = CPU/SLICE_27, SLICE
OUTPORT = CPU/reg_IX_s[8], F0
OUTPORT = CPU/reg_IX[8], Q0
OUTPORT = CPU/reg_IX_s[9], F1
OUTPORT = CPU/reg_IX[9], Q1
OUTPORT = CPU/reg_IX_cry[9], FCO
OUTPUT = CPU/SLICE_28, SLICE
OUTPORT = CPU/reg_IX_s[6], F0
OUTPORT = CPU/reg_IX[6], Q0
OUTPORT = CPU/reg_IX_s[7], F1
OUTPORT = CPU/reg_IX[7], Q1
OUTPORT = CPU/reg_IX_cry[7], FCO
OUTPUT = CPU/SLICE_29, SLICE
OUTPORT = CPU/reg_IX_s[4], F0
OUTPORT = CPU/reg_IX[4], Q0
OUTPORT = CPU/reg_IX_s[5], F1
OUTPORT = CPU/reg_IX[5], Q1
OUTPORT = CPU/reg_IX_cry[5], FCO
OUTPUT = CPU/SLICE_30, SLICE
OUTPORT = CPU/reg_IX_s[2], F0
OUTPORT = CPU/reg_IX[2], Q0
OUTPORT = CPU/reg_IX_s[3], F1
OUTPORT = CPU/reg_IX[3], Q1
OUTPORT = CPU/reg_IX_cry[3], FCO
OUTPUT = CPU/SLICE_31, SLICE
OUTPORT = CPU/reg_IX_s[0], F0
OUTPORT = CPU/reg_IX[0], Q0
OUTPORT = CPU/reg_IX_s[1], F1
OUTPORT = CPU/reg_IX[1], Q1
OUTPORT = CPU/reg_IX_cry[1], FCO
OUTPUT = CPU/SLICE_32, SLICE
OUTPORT = CPU/reg_E[0], Q0
OUTPORT = CPU/reg_E[1], Q1
OUTPORT = CPU/reg_IX, FCO
OUTPUT = CPU/SLICE_33, SLICE
OUTPORT = CPU/reg_SP_s[9], F0
OUTPORT = CPU/reg_SP[9], Q0
OUTPORT = CPU/reg_SP_s[10], F1
OUTPORT = CPU/reg_SP[10], Q1
OUTPUT = CPU/SLICE_34, SLICE
OUTPORT = CPU/reg_SP_s[7], F0
OUTPORT = CPU/reg_SP[7], Q0
OUTPORT = CPU/reg_SP_s[8], F1
OUTPORT = CPU/reg_SP[8], Q1
OUTPORT = CPU/reg_SP_cry[8], FCO
OUTPUT = CPU/SLICE_35, SLICE
OUTPORT = CPU/reg_SP_s[5], F0
OUTPORT = CPU/reg_SP[5], Q0
OUTPORT = CPU/reg_SP_s[6], F1
OUTPORT = CPU/reg_SP[6], Q1
OUTPORT = CPU/reg_SP_cry[6], FCO
OUTPUT = CPU/SLICE_36, SLICE
OUTPORT = CPU/reg_SP_s[3], F0
OUTPORT = CPU/reg_SP[3], Q0
OUTPORT = CPU/reg_SP_s[4], F1
OUTPORT = CPU/reg_SP[4], Q1
OUTPORT = CPU/reg_SP_cry[4], FCO
OUTPUT = CPU/SLICE_37, SLICE
OUTPORT = CPU/reg_SP_s[1], F0
OUTPORT = CPU/reg_SP[1], Q0
OUTPORT = CPU/reg_SP_s[2], F1
OUTPORT = CPU/reg_SP[2], Q1
OUTPORT = CPU/reg_SP_cry[2], FCO
OUTPUT = CPU/SLICE_38, SLICE
OUTPORT = CPU/reg_SP_s[0], F1
OUTPORT = CPU/reg_SP[0], Q1
OUTPORT = CPU/reg_SP_cry[0], FCO
OUTPUT = SLICE_41, SLICE
OUTPORT = ENTCK, Q0
OUTPORT = Fast_CK/un1_calib_cry_0, FCO
OUTPUT = SLICE_42, SLICE
OUTPORT = un4_completion_code_s_3_0_S0, F0
OUTPORT = df_reg[6], Q0
OUTPORT = df_reg[7], Q1
OUTPUT = SLICE_43, SLICE
OUTPORT = un4_completion_code_cry_1_0_S0, F0
OUTPORT = df_reg[4], Q0
OUTPORT = un4_completion_code_cry_1_0_S1, F1
OUTPORT = df_reg[5], Q1
OUTPORT = un4_completion_code_cry_2, FCO
OUTPUT = SLICE_44, SLICE
OUTPORT = df_reg[2], Q0
OUTPORT = df_reg[3], Q1
OUTPORT = un4_completion_code_cry_0, FCO
OUTPUT = CPU/SLICE_57, SLICE
OUTPORT = CPU/CPU.DS_1_01_0_1_0_f5a, OFX0
OUTPORT = CPU/DS_1_0_dreg[0], Q1
OUTPORT = CPU/N_467_a, OFX1
OUTPUT = CPU/SLICE_58, SLICE
OUTPORT = CPU/CPU.DS_1_00_1_1_0_f5a, OFX0
OUTPORT = CPU/DS_1_0_dreg[1], Q1
OUTPORT = CPU/N_468_a, OFX1
OUTPUT = CPU/SLICE_59, SLICE
OUTPORT = CPU/CPU.DS_1_00_2_1_0_f5a, OFX0
OUTPORT = CPU/DS_1_0_dreg[2], Q1
OUTPORT = CPU/N_469_a, OFX1
OUTPUT = CPU/SLICE_60, SLICE
OUTPORT = CPU/CPU.DS_1_02_3_1_f5b, OFX0
OUTPORT = CPU/DS_1_0_dreg[3], Q1
OUTPORT = CPU/N_470_a, OFX1
OUTPUT = CPU/SLICE_61, SLICE
OUTPORT = CPU/CPU.DS_1_01_4_1_0_f5a, OFX0
OUTPORT = CPU/DS_1_0_dreg[4], Q1
OUTPORT = CPU/N_471_a, OFX1
OUTPUT = CPU/SLICE_62, SLICE
OUTPORT = CPU/CPU.DS_1_01_5_1_0_f5a, OFX0
OUTPORT = CPU/DS_1_0_dreg[5], Q1
OUTPORT = CPU/N_472_a, OFX1
OUTPUT = CPU/SLICE_63, SLICE
OUTPORT = CPU/DS_4_m0, F0
OUTPORT = CPU/DS_4_m0_reto, Q0
OUTPORT = CPU/DS_4_sn_N_7_mux, F1
OUTPUT = CPU/SLICE_64, SLICE
OUTPORT = CPU/DS_4_sm0, F0
OUTPORT = CPU/DS_4_sm0_reto, Q0
OUTPORT = CPU/state[8], F1
OUTPUT = CPU/SLICE_65, SLICE
OUTPORT = CPU/WR_6_iv_0, F0
OUTPORT = CPU/WR_6_iv_0_reto, Q0
OUTPORT = CPU/next_sp_0_sqmuxa, F1
OUTPUT = CPU/SLICE_66, SLICE
OUTPORT = CPU/N_264, F0
OUTPORT = CPU/WR_ret_2, Q0
OUTPORT = CPU/N_293, F1
OUTPORT = CPU/WR_ret_5, Q1
OUTPUT = CPU/SLICE_67, SLICE
OUTPORT = CPU/N_332, F0
OUTPORT = CPU/WR_ret_7, Q0
OUTPORT = CPU/N_423, F1
OUTPUT = CPU/SLICE_73, SLICE
OUTPORT = CPU/next_flag_c_8, F0
OUTPORT = CPU/flag_C, Q0
OUTPORT = CPU/result_1[8], F1
OUTPUT = CPU/SLICE_74, SLICE
OUTPORT = CPU/next_flag_i_9_iv_i, F0
OUTPORT = CPU/flag_I, Q0
OUTPORT = CPU/un1_next_flag_i_1_sqmuxa, F1
OUTPUT = CPU/SLICE_75, SLICE
OUTPORT = CPU/next_flag_s_8, F0
OUTPORT = CPU/flag_S, Q0
OUTPORT = CPU/un1_next_flag_c_1_sqmuxa_1, F1
OUTPUT = CPU/SLICE_76, SLICE
OUTPORT = CPU/next_flag_z_8, F0
OUTPORT = CPU/flag_Z, Q0
OUTPORT = CPU/next_flag_z_2_m_5, F1
OUTPUT = CPU/SLICE_77, SLICE
OUTPORT = CPU/next_sp_1_sqmuxa, F0
OUTPORT = CPU/next_sp_1_sqmuxa_reto, Q0
OUTPORT = CPU/N_387, F1
OUTPUT = CPU/SLICE_78, SLICE
OUTPORT = CPU/opcode_3[0], F0
OUTPORT = CPU/opcode[0], Q0
OUTPORT = CPU/opcode_3[1], F1
OUTPORT = CPU/opcode[1], Q1
OUTPUT = CPU/SLICE_79, SLICE
OUTPORT = CPU/opcode_3[2], F0
OUTPORT = CPU/opcode[2], Q0
OUTPORT = CPU/opcode_3[3], F1
OUTPORT = CPU/opcode[3], Q1
OUTPUT = CPU/SLICE_80, SLICE
OUTPORT = CPU/opcode_3[4], F0
OUTPORT = CPU/opcode[4], Q0
OUTPORT = CPU/opcode_3[5], F1
OUTPORT = CPU/opcode[5], Q1
OUTPUT = CPU/SLICE_81, SLICE
OUTPORT = CPU/opcode_3[6], F0
OUTPORT = CPU/opcode[6], Q0
OUTPORT = CPU/un216_state_0, F1
OUTPUT = CPU/SLICE_82, SLICE
OUTPORT = CPU/reg_A_RNO[0], F0
OUTPORT = CPU/reg_A[0], Q0
OUTPORT = CPU/reg_A_RNO[1], F1
OUTPORT = CPU/reg_A[1], Q1
OUTPUT = CPU/SLICE_83, SLICE
OUTPORT = CPU/reg_A_RNO[2], F0
OUTPORT = CPU/reg_A[2], Q0
OUTPORT = CPU/un1_cpu_data_in[3], F1
OUTPORT = CPU/reg_A[3], Q1
OUTPUT = CPU/SLICE_84, SLICE
OUTPORT = CPU/un1_cpu_data_in[4], F0
OUTPORT = CPU/reg_A[4], Q0
OUTPORT = CPU/reg_A_RNO[5], F1
OUTPORT = CPU/reg_A[5], Q1
OUTPUT = CPU/SLICE_85, SLICE
OUTPORT = CPU/un1_cpu_data_in[6], F0
OUTPORT = CPU/reg_A[6], Q0
OUTPORT = CPU/un1_cpu_data_in[7], F1
OUTPORT = CPU/reg_A[7], Q1
OUTPUT = CPU/SLICE_86, SLICE
OUTPORT = CPU/un1_alu_out[0], F0
OUTPORT = CPU/reg_B[0], Q0
OUTPORT = CPU/un1_alu_out[1], F1
OUTPORT = CPU/reg_B[1], Q1
OUTPUT = CPU/SLICE_87, SLICE
OUTPORT = CPU/un1_alu_out[2], F0
OUTPORT = CPU/reg_B[2], Q0
OUTPORT = CPU/un1_alu_out[3], F1
OUTPORT = CPU/reg_B[3], Q1
OUTPUT = CPU/SLICE_88, SLICE
OUTPORT = CPU/un1_alu_out[4], F0
OUTPORT = CPU/reg_B[4], Q0
OUTPORT = CPU/un1_alu_out[5], F1
OUTPORT = CPU/reg_B[5], Q1
OUTPUT = CPU/SLICE_89, SLICE
OUTPORT = CPU/un1_alu_out[6], F0
OUTPORT = CPU/reg_B[6], Q0
OUTPORT = CPU/un1_alu_out[7], F1
OUTPORT = CPU/reg_B[7], Q1
OUTPUT = CPU/SLICE_102, SLICE
OUTPORT = CPU/un1_cpu_data_in_1_iv[0], F0
OUTPORT = CPU/reg_H[0], Q0
OUTPORT = CPU/un1_cpu_data_in_1_iv[1], F1
OUTPORT = CPU/reg_H[1], Q1
OUTPUT = CPU/SLICE_103, SLICE
OUTPORT = CPU/un1_cpu_data_in_1_iv[2], F0
OUTPORT = CPU/reg_H[2], Q0
OUTPORT = CPU/un1_cpu_data_in_1[3], F1
OUTPORT = CPU/reg_H[3], Q1
OUTPUT = CPU/SLICE_104, SLICE
OUTPORT = CPU/un1_cpu_data_in_1_0_iv[4], F0
OUTPORT = CPU/reg_H[4], Q0
OUTPORT = CPU/un1_cpu_data_in_1[5], F1
OUTPORT = CPU/reg_H[5], Q1
OUTPUT = CPU/SLICE_105, SLICE
OUTPORT = CPU/un1_cpu_data_in_1[6], F0
OUTPORT = CPU/reg_H[6], Q0
OUTPORT = CPU/un1_cpu_data_in_1_0_iv[7], F1
OUTPORT = CPU/reg_H[7], Q1
OUTPUT = CPU/SLICE_106, SLICE
OUTPORT = CPU/un1_cpu_data_in_2_iv[0], F0
OUTPORT = CPU/reg_L[0], Q0
OUTPORT = CPU/un1_cpu_data_in_2_iv[1], F1
OUTPORT = CPU/reg_L[1], Q1
OUTPUT = CPU/SLICE_107, SLICE
OUTPORT = CPU/un1_cpu_data_in_2_iv[2], F0
OUTPORT = CPU/reg_L[2], Q0
OUTPORT = CPU/un1_cpu_data_in_2_iv[3], F1
OUTPORT = CPU/reg_L[3], Q1
OUTPUT = CPU/SLICE_108, SLICE
OUTPORT = CPU/un1_cpu_data_in_2_iv[4], F0
OUTPORT = CPU/reg_L[4], Q0
OUTPORT = CPU/un1_cpu_data_in_2_iv[5], F1
OUTPORT = CPU/reg_L[5], Q1
OUTPUT = CPU/SLICE_109, SLICE
OUTPORT = CPU/un1_cpu_data_in_2_iv[6], F0
OUTPORT = CPU/reg_L[6], Q0
OUTPORT = CPU/un1_cpu_data_in_2_iv[7], F1
OUTPORT = CPU/reg_L[7], Q1
OUTPUT = CPU/SLICE_114, SLICE
OUTPORT = CPU/state_ns[9], F0
OUTPORT = CPU/state[9], Q0
OUTPORT = CPU/N_162_i, F1
OUTPORT = CPU/state[14], Q1
OUTPUT = CPU/SLICE_115, SLICE
OUTPORT = CPU/state_ns[18], F0
OUTPORT = CPU/state_0[0], Q0
OUTPORT = CPU/state_ns_o2_2[1], F1
OUTPUT = CPU/SLICE_116, SLICE
OUTPORT = CPU/state_ns_a2_1[1], F0
OUTPORT = CPU/state_ns_a2_1_reto[1], Q0
OUTPORT = CPU/un1_cpu_data_in_1_iv_0[0], F1
OUTPUT = CPU/SLICE_117, SLICE
OUTPORT = CPU/state[17], F0
OUTPORT = CPU/state_reto[17], Q0
OUTPORT = CPU/next_flag_z_2_sqmuxa_1, F1
OUTPUT = CPU/SLICE_118, SLICE
OUTPORT = un1_int_bits[7], F0
OUTPORT = CPUIRQ, Q0
OUTPUT = SLICE_123, SLICE
OUTPORT = counter, F0
OUTPORT = INTCTRZ, Q0
OUTPORT = Interrupt_Controller.un22_counter, F1
OUTPUT = SLICE_126, SLICE
OUTPORT = SDA_cl_2, F0
OUTPORT = SDA_cl, Q0
OUTPORT = CPU/N_216, F1
OUTPUT = SLICE_127, SLICE
OUTPORT = N_35_i, F0
OUTPORT = SDA_cl_1, Q0
OUTPORT = N_218, F1
OUTPUT = SLICE_128, SLICE
OUTPORT = MMU.SWRST_4, F0
OUTPORT = SWRST, Q0
OUTPORT = CPU/SWRST_4_0_a3_2, F1
OUTPUT = SLICE_134, SLICE
OUTPORT = MMU.TXI_5, F0
OUTPORT = TXI_1, Q0
OUTPORT = N_232, F1
OUTPUT = CPU/SLICE_136, SLICE
OUTPORT = CPU/un1_next_sp[0], F0
OUTPORT = cpu_addr[0], Q0
OUTPORT = CPU/un1_next_sp_iv[1], F1
OUTPORT = cpu_addr[1], Q1
OUTPUT = CPU/SLICE_137, SLICE
OUTPORT = CPU/un1_next_sp[2], F0
OUTPORT = cpu_addr[2], Q0
OUTPORT = CPU/un1_next_sp_iv[3], F1
OUTPORT = cpu_addr[3], Q1
OUTPUT = CPU/SLICE_138, SLICE
OUTPORT = CPU/un1_next_sp[4], F0
OUTPORT = cpu_addr[4], Q0
OUTPORT = CPU/un1_next_sp[5], F1
OUTPORT = cpu_addr[5], Q1
OUTPUT = CPU/SLICE_139, SLICE
OUTPORT = CPU/un1_next_sp_iv[6], F0
OUTPORT = cpu_addr[6], Q0
OUTPORT = CPU/un1_next_sp[7], F1
OUTPORT = cpu_addr[7], Q1
OUTPUT = CPU/SLICE_140, SLICE
OUTPORT = CPU/un1_next_sp[8], F0
OUTPORT = cpu_addr[8], Q0
OUTPORT = CPU/un1_next_sp_iv[9], F1
OUTPORT = cpu_addr[9], Q1
OUTPUT = CPU/SLICE_141, SLICE
OUTPORT = CPU/un1_next_sp[10], F0
OUTPORT = cpu_addr[10], Q0
OUTPORT = CPU/un1_next_sp_iv_2[10], F1
OUTPUT = CPU/SLICE_142, SLICE
OUTPORT = CPU/N_355, OFX0
OUTPORT = cpu_data_out[0], Q0
OUTPUT = CPU/SLICE_143, SLICE
OUTPORT = CPU/un1_reg_IX[1], OFX0
OUTPORT = cpu_data_out[1], Q0
OUTPUT = CPU/SLICE_144, SLICE
OUTPORT = CPU/N_358, OFX0
OUTPORT = cpu_data_out[2], Q0
OUTPUT = CPU/SLICE_145, SLICE
OUTPORT = CPU/un1_reg_IX[3], OFX0
OUTPORT = cpu_data_out[3], Q0
OUTPUT = CPU/SLICE_146, SLICE
OUTPORT = CPU/un1_reg_IX[4], OFX0
OUTPORT = cpu_data_out[4], Q0
OUTPUT = CPU/SLICE_147, SLICE
OUTPORT = CPU/N_372, OFX0
OUTPORT = cpu_data_out[5], Q0
OUTPUT = CPU/SLICE_148, SLICE
OUTPORT = CPU/un1_reg_IX[6], OFX0
OUTPORT = cpu_data_out[6], Q0
OUTPUT = CPU/SLICE_149, SLICE
OUTPORT = CPU/un1_reg_IX[7], OFX0
OUTPORT = cpu_data_out[7], Q0
OUTPUT = SLICE_160, SLICE
OUTPORT = int_rst_i[0], F0
OUTPORT = int_bits[0], Q0
OUTPUT = SLICE_169, SLICE
OUTPORT = int_rst_3[0], F0
OUTPORT = int_rst[0], Q0
OUTPORT = i2c_in_1_sqmuxa, F1
OUTPUT = SLICE_184, SLICE
OUTPORT = GND, F0
OUTPORT = xmit_bits[4], Q0
OUTPORT = xmit_bits[5], Q1
OUTPUT = SDA, PIO
OUTPUT = SA0, PIO
OUTPUT = TP4, PIO
OUTPUT = PWM, PIO
OUTPUT = SLICE_185, SLICE
OUTPORT = un1_frequency_low_axbxc3, F0
OUTPORT = xmit_bits[6], Q0
OUTPORT = Interrupt_Controller.un1_counter_4, F1
OUTPORT = xmit_bits[7], Q1
OUTPUT = SLICE_186, SLICE
OUTPORT = Fast_CK/R2, F0
OUTPORT = xmit_bits[8], Q0
OUTPORT = Power_Controller/GND, F1
OUTPORT = xmit_bits[9], Q1
OUTPUT = SLICE_187, SLICE
OUTPORT = CPU/state_ns_a2_0[1], F0
OUTPORT = xmit_bits[10], Q0
OUTPORT = CPU/next_flag_z_2_m_2, F1
OUTPORT = xmit_bits[11], Q1
OUTPUT = SLICE_188, SLICE
OUTPORT = tck_frequencye, F0
OUTPORT = xmit_bits[12], Q0
OUTPORT = N_42, F1
OUTPORT = xmit_bits[13], Q1
OUTPUT = SLICE_189, SLICE
OUTPORT = CPU/next_flag_z_2_m_6, F0
OUTPORT = xmit_bits[14], Q0
OUTPORT = CPU/N_53, F1
OUTPORT = xmit_bits[15], Q1
OUTPUT = CPU/SLICE_243, SLICE
OUTPORT = CPU/un10_state_3, F0
OUTPORT = CPU/first_operand[6], Q0
OUTPORT = CPU/un10_state_5, F1
OUTPORT = CPU/first_operand[7], Q1
OUTPUT = SLICE_244, SLICE
OUTPORT = CPU/alu_ctrl_24_0_0[1], F0
OUTPORT = i2c_in[5], Q0
OUTPORT = CPU/N_66, F1
OUTPORT = i2c_in[6], Q1
OUTPUT = SLICE_245, SLICE
OUTPORT = CPU/alu_ctrl_24_0_a4_0[3], F0
OUTPORT = int_mask[0], Q0
OUTPORT = CPU/alu_ctrl_24_0_0[3], F1
OUTPORT = int_mask[1], Q1
OUTPUT = SLICE_246, SLICE
OUTPORT = CPU/N_69, F0
OUTPORT = i2c_in[7], Q0
OUTPORT = CPU/alu_ctrl_24_0_0[2], F1
OUTPUT = SLICE_260, SLICE
OUTPORT = CPU/N_75, F0
OUTPORT = int_mask[4], Q0
OUTPORT = CPU/N_52, F1
OUTPORT = int_mask[5], Q1
OUTPUT = SLICE_264, SLICE
OUTPORT = CPU/alu_ctrl_24_0_2_1[0], F0
OUTPORT = int_mask[2], Q0
OUTPORT = CPU/alu_ctrl_24_0_2[0], F1
OUTPORT = int_mask[3], Q1
OUTPUT = SLICE_266, SLICE
OUTPORT = un1_frequency_low_axbxc2, F0
OUTPORT = SCL_c, Q0
OUTPORT = Frequency_Modulation.un170_txb, F1
OUTPUT = SCL, PIO
OUTPUT = CPU/SLICE_270, SLICE
OUTPORT = CPU/un17_state_1, F0
OUTPORT = CPU/first_operand[0], Q0
OUTPORT = CPU/un17_state_0, F1
OUTPORT = CPU/first_operand[1], Q1
OUTPUT = SLICE_273, SLICE
OUTPORT = CPU/N_412, F0
OUTPORT = i2c_in[1], Q0
OUTPORT = CPU/state[16], F1
OUTPORT = i2c_in[2], Q1
OUTPUT = CPU/SLICE_281, SLICE
OUTPORT = CPU/un159_state_1, F0
OUTPORT = CPU/first_operand[4], Q0
OUTPORT = CPU/un257_state, F1
OUTPORT = CPU/first_operand[5], Q1
OUTPUT = CPU/SLICE_282, SLICE
OUTPORT = CPU/un156_state_1, F0
OUTPORT = CPU/first_operand[2], Q0
OUTPORT = CPU/un156_state_fc, F1
OUTPORT = CPU/first_operand[3], Q1
OUTPUT = CPU/SLICE_286, SLICE
OUTPORT = CPU/prog_addrlde_0, F0
OUTPORT = CPU/second_operand[0], Q0
OUTPORT = CPU/prog_addrlde_0_0, F1
OUTPORT = CPU/second_operand[1], Q1
OUTPUT = SLICE_292, SLICE
OUTPORT = CPU/next_flag_c_1_sqmuxa, F0
OUTPORT = BOOST, Q0
OUTPORT = CPU/un1_next_flag_c_1_sqmuxa, F1
OUTPUT = CPU/SLICE_310, SLICE
OUTPORT = CPU/next_l_2_sqmuxa, F0
OUTPORT = CPU/second_operand[4], Q0
OUTPORT = CPU/un34_state_2, F1
OUTPORT = CPU/second_operand[5], Q1
OUTPUT = SLICE_321, SLICE
OUTPORT = CPU/prog_data_m[4], F0
OUTPORT = xmit_bits[2], Q0
OUTPORT = CPU/next_pa_23[4], F1
OUTPORT = xmit_bits[3], Q1
OUTPUT = SLICE_323, SLICE
OUTPORT = CPU/prog_data_m[2], F0
OUTPORT = tx_channel[6], Q0
OUTPORT = CPU/next_pa_23[2], F1
OUTPORT = tx_channel[7], Q1
OUTPUT = SLICE_324, SLICE
OUTPORT = CPU/prog_data_m[3], F0
OUTPORT = xmit_bits[0], Q0
OUTPORT = CPU/next_pa_23[3], F1
OUTPORT = xmit_bits[1], Q1
OUTPUT = CPU/SLICE_325, SLICE
OUTPORT = CPU/reg_IX_0, F0
OUTPORT = CPU/reg_E[2], Q0
OUTPORT = CPU/opcode_0_sqmuxa, F1
OUTPORT = CPU/reg_E[3], Q1
OUTPUT = CPU/SLICE_334, SLICE
OUTPORT = CPU/reg_IX_158_i1_mux, F0
OUTPORT = CPU/reg_D[4], Q0
OUTPORT = CPU/un1_reg_IX_2[7], F1
OUTPORT = CPU/reg_D[5], Q1
OUTPUT = CPU/SLICE_335, SLICE
OUTPORT = CPU/reg_IX_157_i1_mux, F0
OUTPORT = CPU/reg_C[4], Q0
OUTPORT = CPU/un1_reg_IX_2[6], F1
OUTPORT = CPU/reg_C[5], Q1
OUTPUT = CPU/SLICE_336, SLICE
OUTPORT = CPU/reg_IX_156_i1_mux, F0
OUTPORT = CPU/reg_D[2], Q0
OUTPORT = CPU/un1_reg_IX_2[5], F1
OUTPORT = CPU/reg_D[3], Q1
OUTPUT = CPU/SLICE_340, SLICE
OUTPORT = CPU/reg_IX_161_i1_mux, F0
OUTPORT = CPU/reg_E[4], Q0
OUTPORT = CPU/un1_reg_IX_2[10], F1
OUTPORT = CPU/reg_E[5], Q1
OUTPUT = CPU/SLICE_341, SLICE
OUTPORT = CPU/reg_IX_160_i1_mux, F0
OUTPORT = CPU/reg_D[6], Q0
OUTPORT = CPU/un1_reg_IX_2[9], F1
OUTPORT = CPU/reg_D[7], Q1
OUTPUT = CPU/SLICE_342, SLICE
OUTPORT = CPU/reg_IX_155_i1_mux, F0
OUTPORT = CPU/reg_C[2], Q0
OUTPORT = CPU/un1_reg_IX_2[4], F1
OUTPORT = CPU/reg_C[3], Q1
OUTPUT = CPU/SLICE_343, SLICE
OUTPORT = CPU/reg_IX_154_i1_mux, F0
OUTPORT = CPU/reg_D[0], Q0
OUTPORT = CPU/un1_reg_IX_2[3], F1
OUTPORT = CPU/reg_D[1], Q1
OUTPUT = CPU/SLICE_344, SLICE
OUTPORT = CPU/reg_IX_153_i1_mux, F0
OUTPORT = CPU/reg_C[0], Q0
OUTPORT = CPU/un1_reg_IX_2[2], F1
OUTPORT = CPU/reg_C[1], Q1
OUTPUT = CPU/SLICE_349, SLICE
OUTPORT = CPU/reg_IY_142_i1_mux, F0
OUTPORT = CPU/reg_E[6], Q0
OUTPORT = CPU/un1_reg_IY_1[2], F1
OUTPORT = CPU/reg_E[7], Q1
OUTPUT = CPU/SLICE_350, SLICE
OUTPORT = CPU/reg_IX_159_i1_mux, F0
OUTPORT = CPU/reg_C[6], Q0
OUTPORT = CPU/un1_reg_IX_2[8], F1
OUTPORT = CPU/reg_C[7], Q1
OUTPUT = SLICE_352, SLICE
OUTPORT = CPU/next_pa_23[8], F0
OUTPORT = int_period[4], Q0
OUTPORT = CPU/next_pa_2_sqmuxa_1, F1
OUTPORT = int_period[5], Q1
OUTPUT = SLICE_355, SLICE
OUTPORT = CPU/next_pa_17_m[8], F0
OUTPORT = tck_divisor[0], Q0
OUTPORT = CPU/un494_state, F1
OUTPORT = tck_divisor[1], Q1
OUTPUT = SLICE_356, SLICE
OUTPORT = CPU/next_pa_23[11], F0
OUTPORT = int_period[2], Q0
OUTPORT = CPU/next_pa_17_m[11], F1
OUTPORT = int_period[3], Q1
OUTPUT = SLICE_357, SLICE
OUTPORT = CPU/next_pa_23[10], F0
OUTPORT = int_period[0], Q0
OUTPORT = CPU/next_pa_17_m[10], F1
OUTPORT = int_period[1], Q1
OUTPUT = SLICE_358, SLICE
OUTPORT = CPU/next_pa_23[9], F0
OUTPORT = int_period[6], Q0
OUTPORT = CPU/next_pa_17_m[9], F1
OUTPORT = int_period[7], Q1
OUTPUT = CPU/SLICE_386, SLICE
OUTPORT = CPU/un1_reset_19_i, F0
OUTPORT = CPU/second_operand[6], Q0
OUTPORT = CPU/N_309, F1
OUTPORT = CPU/second_operand[7], Q1
OUTPUT = SLICE_387, SLICE
OUTPORT = CPU/next_pa_23[5], F0
OUTPORT = tck_divisor[2], Q0
OUTPORT = CPU/next_pa_23_iv_0[5], F1
OUTPORT = tck_divisor[3], Q1
OUTPUT = SLICE_390, SLICE
OUTPORT = CPU/next_pa_23[6], F0
OUTPORT = tx_channel[0], Q0
OUTPORT = CPU/next_pa_23_iv_0[6], F1
OUTPORT = tx_channel[1], Q1
OUTPUT = CPU/SLICE_416, SLICE
OUTPORT = CPU/N_347, F0
OUTPORT = CPU/second_operand[2], Q0
OUTPORT = CPU/N_401, F1
OUTPORT = CPU/second_operand[3], Q1
OUTPUT = SLICE_437, SLICE
OUTPORT = CPU/N_61, F0
OUTPORT = int_mask[6], Q0
OUTPORT = CPU/un723_state_1, F1
OUTPORT = int_mask[7], Q1
OUTPUT = SLICE_463, SLICE
OUTPORT = un1_frequency_low_axbxc4, F0
OUTPORT = TP2_c, Q0
OUTPORT = un1_frequency_low_c2, F1
OUTPORT = TP3_c, Q1
OUTPUT = TP2, PIO
OUTPUT = TP3, PIO
OUTPUT = SLICE_464, SLICE
OUTPORT = un9_next_state_axbxc5, F0
OUTPORT = frequency_low[0], Q0
OUTPORT = un9_next_state_c3, F1
OUTPORT = frequency_low[1], Q1
OUTPUT = SLICE_495, SLICE
OUTPORT = CPU/next_pa_23_iv_0[7], F0
OUTPORT = tx_channel[4], Q0
OUTPORT = CPU/next_pa_23_iv_0[2], F1
OUTPORT = tx_channel[5], Q1
OUTPUT = SLICE_496, SLICE
OUTPORT = CPU/next_pa_23_iv_0[4], F0
OUTPORT = tx_channel[2], Q0
OUTPORT = CPU/next_pa_23_iv_0[3], F1
OUTPORT = tx_channel[3], Q1
OUTPUT = SLICE_521, SLICE
OUTPORT = CPU/first_operand_1_sqmuxa, F0
OUTPORT = frequency_low[4], Q0
OUTPORT = CPU/second_operand_1_sqmuxa, F1
OUTPUT = SLICE_562, SLICE
OUTPORT = xdac_0io_RNO[0], F0
OUTPORT = frequency_low[2], Q0
OUTPORT = un1_frequency_low_axbxc1, F1
OUTPORT = frequency_low[3], Q1
OUTPUT = SLICE_563, SLICE
OUTPORT = CPU/DS_4_m1, F0
OUTPORT = i2c_in[3], Q0
OUTPORT = CPU/CPUWR, F1
OUTPORT = i2c_in[4], Q1
OUTPUT = Program_Memory/ROM_0_0_0_3, EBR
OUTPORT = prog_data[1], DOA1
OUTPORT = prog_data[0], DOA0
OUTPUT = Program_Memory/ROM_0_0_1_2, EBR
OUTPORT = prog_data[3], DOA1
OUTPORT = prog_data[2], DOA0
OUTPUT = Program_Memory/ROM_0_0_2_1, EBR
OUTPORT = prog_data[5], DOA1
OUTPORT = prog_data[4], DOA0
OUTPUT = Program_Memory/ROM_0_0_3_0, EBR
OUTPORT = prog_data[7], DOA1
OUTPORT = prog_data[6], DOA0
OUTPUT = Process_Memory/RAM_0_0_0_0, EBR
OUTPORT = ram_out[7], DOA7
OUTPORT = ram_out[6], DOA6
OUTPORT = ram_out[5], DOA5
OUTPORT = ram_out[4], DOA4
OUTPORT = ram_out[3], DOA3
OUTPORT = ram_out[2], DOA2
OUTPORT = ram_out[1], DOA1
OUTPORT = ram_out[0], DOA0
SIGNAL = RCK_c, DUMMY
INPUT = RCK, PIO
OUTPUT = SLICE_45, SLICE
OUTPORT = counter_s[7], F0
OUTPORT = counter[7], Q0
OUTPUT = SLICE_46, SLICE
OUTPORT = counter_s[5], F0
OUTPORT = counter[5], Q0
OUTPORT = counter_s[6], F1
OUTPORT = counter[6], Q1
OUTPORT = counter_cry[6], FCO
OUTPUT = SLICE_47, SLICE
OUTPORT = counter_s[3], F0
OUTPORT = counter[3], Q0
OUTPORT = counter_s[4], F1
OUTPORT = counter[4], Q1
OUTPORT = counter_cry[4], FCO
OUTPUT = SLICE_48, SLICE
OUTPORT = counter_s[1], F0
OUTPORT = counter[1], Q0
OUTPORT = counter_s[2], F1
OUTPORT = counter[2], Q1
OUTPORT = counter_cry[2], FCO
OUTPUT = SLICE_49, SLICE
OUTPORT = counter_s[0], F1
OUTPORT = counter[0], Q1
OUTPORT = counter_cry[0], FCO
OUTPUT = SLICE_55, SLICE
OUTPORT = PowerUp.un1_clrflag, F0
OUTPORT = CLRFLAG, Q0
OUTPUT = SLICE_56, SLICE
OUTPORT = PowerUp.state_4[0], F0
OUTPORT = CO0, Q0
OUTPUT = SLICE_124, SLICE
OUTPORT = PowerUp.reset, F0
OUTPORT = RESET_1, Q0
OUTPUT = SLICE_135, SLICE
OUTPORT = PowerUp.un1_userstdby_i, F0
OUTPORT = USERSTDBY, Q0
OUTPUT = SLICE_175, SLICE
OUTPORT = PowerUp.state_4[1], F0
OUTPORT = state_3[1], Q0
OUTPORT = PowerUp.state_4[2], F1
OUTPORT = state_3[2], Q1

