BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MUX_CONFIGURATION_PORTS=ENABLE JTAG_PORT=DISABLE ;
LOCATE COMP "XEN" SITE "8" ;
LOCATE COMP "xdac[4]" SITE "23" ;
LOCATE COMP "xdac[3]" SITE "21" ;
LOCATE COMP "xdac[2]" SITE "20" ;
LOCATE COMP "xdac[1]" SITE "17" ;
LOCATE COMP "xdac[0]" SITE "16" ;
LOCATE COMP "TP1" SITE "1" ;
LOCATE COMP "TP2" SITE "32" ;
LOCATE COMP "VC" SITE "10" ;
LOCATE COMP "TP3" SITE "29" ;
LOCATE COMP "TP4" SITE "30" ;
LOCATE COMP "RCK" SITE "9" ;
LOCATE COMP "SCL" SITE "11" ;
LOCATE COMP "SDA" SITE "25" ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "XEN" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[0]" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[1]" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[2]" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[3]" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[4]" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "RCK" PULLMODE=NONE IO_TYPE=LVCMOS18 CLAMP=OFF ;
IOBUF PORT "SCL" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "SDA" IO_TYPE=LVCMOS18 PULLMODE=UP CLAMP=OFF SLEWRATE=SLOW ;
IOBUF PORT "VC" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "TP3" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "TP4" IO_TYPE=LVCMOS18 PULLMODE=NONE SLEWRATE=SLOW ;
FREQUENCY NET "FCK" 10.000000 MHz ;
FREQUENCY NET "TCK_1" 5.000000 MHz ;
FREQUENCY NET "RCK_c" 0.100000 MHz ;
PRIORITIZE NET "Fast_CK/R[1]" 100 ;
PRIORITIZE NET "Fast_CK/R[2]" 100 ;
PRIORITIZE NET "Fast_CK/R[3]" 100 ;
PRIORITIZE NET "Fast_CK/R[4]" 100 ;
PRIORITIZE NET "Fast_CK/R[5]" 100 ;
PRIORITIZE NET "Fast_CK/R[6]" 100 ;
PRIORITIZE NET "Fast_CK/R[7]" 100 ;
PRIORITIZE NET "Fast_CK/R[8]" 100 ;
PRIORITIZE NET "Fast_CK/R[9]" 100 ;
PRIORITIZE NET "Fast_CK/R[10]" 100 ;
PRIORITIZE NET "Fast_CK/R[11]" 100 ;
PRIORITIZE NET "Fast_CK/R[12]" 100 ;
PRIORITIZE NET "Fast_CK/R[13]" 100 ;
PRIORITIZE NET "Fast_CK/R[14]" 100 ;
PRIORITIZE NET "Fast_CK/R[15]" 100 ;
PRIORITIZE NET "Fast_CK/R[16]" 100 ;
PRIORITIZE NET "Fast_CK/R[17]" 100 ;
PRIORITIZE NET "Fast_CK/R[18]" 100 ;
PRIORITIZE NET "Fast_CK/R[19]" 100 ;
PRIORITIZE NET "Fast_CK/R[20]" 100 ;
PRIORITIZE NET "Fast_CK/R[21]" 100 ;
PRIORITIZE NET "Fast_CK/R[22]" 100 ;
PRIORITIZE NET "Fast_CK/R[23]" 100 ;
