BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "RCK" SITE "9" ;
SYSCONFIG MUX_CONFIGURATION_PORTS=ENABLE JTAG_PORT=DISABLE ;
LOCATE COMP "XEN" SITE "8" ;
LOCATE COMP "xdac[4]" SITE "23" ;
LOCATE COMP "xdac[3]" SITE "21" ;
LOCATE COMP "xdac[2]" SITE "20" ;
LOCATE COMP "xdac[1]" SITE "17" ;
LOCATE COMP "xdac[0]" SITE "16" ;
LOCATE COMP "TP1" SITE "1" ;
LOCATE COMP "TP2" SITE "32" ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "XEN" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "xdac[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "RCK" PULLMODE=NONE IO_TYPE=LVCMOS33 CLAMP=OFF ;
IOBUF PORT "IDY" IO_TYPE=LVCMOS33 PULLMODE=DOWN CLAMP=OFF ;
IOBUF PORT "SA0" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "SCL" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "SDA" IO_TYPE=LVCMOS33 PULLMODE=UP CLAMP=OFF SLEWRATE=SLOW ;
LOCATE COMP "SA0" SITE "13" ;
LOCATE COMP "SCL" SITE "11" ;
LOCATE COMP "SDA" SITE "25" ;
LOCATE COMP "IDY" SITE "5" ;
PRIORITIZE NET "Fast_CK/R1" 100 ;
PRIORITIZE NET "Fast_CK/R2" 100 ;
PRIORITIZE NET "Fast_CK/R3" 100 ;
PRIORITIZE NET "Fast_CK/R4" 100 ;
PRIORITIZE NET "Fast_CK/next_count_3[0]" 100 ;
PRIORITIZE NET "Fast_CK/next_count_3[1]" 100 ;
PRIORITIZE NET "Fast_CK/next_count_3[2]" 100 ;
PRIORITIZE NET "Fast_CK/next_count_3[3]" 100 ;
FREQUENCY NET "FCK" 10.000000 MHz ;
FREQUENCY NET "TCK_1" 5.000000 MHz ;
FREQUENCY NET "RCK_c" 0.100000 MHz ;
IOBUF PORT "PWM" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "TP3" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
IOBUF PORT "TP4" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
LOCATE COMP "PWM" SITE "10" ;
LOCATE COMP "TP3" SITE "29" ;
LOCATE COMP "TP4" SITE "30" ;
